[project]
	description = Anything to do with the monstars.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/z-money
[access "refs/for/refs/*"]
	read = group user/z-money
	push = group user/z-money
	label-Code-Review = -2..+2 group user/z-money
	label-Verified = -1..+1 group user/z-money
	rebase = group user/z-money
	removeReviewer = group user/z-money
	submit = group user/z-money
[access "refs/heads/*"]
	read = group user/z-money
	create = group user/z-money
	push = +force group user/z-money
	pushMerge = group user/z-money
[access "refs/tags/*"]
	push = +force group user/z-money
	pushTag = group user/z-money
	pushSignedTag = group user/z-money
